.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.375rem;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.header__left--name{
  font-size: 2rem;
}
